<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ScreenGrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <ScreenGrab.Properties.Settings>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowGrabOnCapturedScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGrabOnActiveScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrabOnPrimaryScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowShadowOnPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadowDepth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="KeepShadowOnCopyOrSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSelectedHighlight" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </ScreenGrab.Properties.Settings>
    </userSettings>
</configuration>
